@import "basic-setup";
/**
 * @name: 模板网站
 * @description: 模板网站
 * @author: cest
 */

#loading-mask {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 99999999;
    background-color: #333439;
    opacity: 1;
    filter: alpha(opacity=100);
    text-align: center;
    .loading-img {
        position: fixed;
        left: 0;
        width: 100%;
        top: 50%;
        //height: 100%;
        margin-top: -50px;
    }
}